@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Cor de fundo do header */
    border-bottom: 1px solid #ddd; /* Linha divisória */
    font-family: "Montserrat", sans-serif;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12vh;
}

header img {
    max-width: 140px;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    color: #333;
}

ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #6D6E72;
    margin-left: 50px;
    font-size: 18px;
}

ul li a:hover {
    color: #333;
}

li {
    list-style: none;
}

.dash-container {
    display: flex;
    width: 100%;
    height: auto;
}

.containerDados {
    font-family: "Montserrat", sans-serif;
    width: 50%;
    margin: 30px;
    font-size: 24px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dado {
    font-weight: 300;
}

h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}

/* Table Styles */

.table-wrapper{
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin-bottom: 50px;
    border-radius: 40px;
}

 td {
    border-radius: 20px;
}


.fl-table {
    border-radius: 20px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 22px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}

.btn {
    max-width: 250px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 17px;
    transition: 500ms;
}

.btn:hover {
    background-color: rgb(185, 2, 2);
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
}





