@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Cor de fundo do header */
    border-bottom: 1px solid #ddd; /* Linha divisória */
}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12vh;
}

header img {
    max-width: 140px;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container h1 {
    color: #333;
}

ul  {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a {
    text-decoration: none;
    color: #6D6E72;
    margin-left: 50px;
    font-size: 18px;
}

ul li a:hover {
    color: #333;
}

li {
    list-style: none;
}

.btn {
    max-width: 100px;
    padding: 5px 20px;
    border-radius: 8px;
    background-color: #FF3131;
    color: white;
}

a {
    font-weight: 700;
    text-decoration: none;
}

.btn:hover {
    color: white !important;
    background-color: #cc0f0f;
}

.dashboard-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.dashboard-content {
    width: 80%;
}

.dashboard-section {
    margin-bottom: 50px;
}

.dashboard-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    color: #6D6E72;
    font-size: 16px;
}
